/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
